@import url("non.geist");

.favourites-container {
  margin-top: 50px;
}

.favourites {
  color: #ffff;
  font-family: "Geist Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.24px;
}
